.ScheduleTour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.ScheduleTourLabel {
  align-self: stretch;
  color: var(--brand-charcoal, var(--brand-charcoal, #020202));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 14px */
}

.ScheduleTourTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #eee;
  background: var(--brand-snow, #fff);
}

.ToursInformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.ScheduleTourButton {
  display: flex;
  padding: 16px 24px !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--brand-snow, #fff);
  position: inherit !important;
}

.ScheduleTourButton:hover {
  background: var(--brand-snow, #fff);
}

.ScheduleTourButtonText {
  color: var(--brand-charcoal, var(--brand-charcoal, #020202));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  text-transform: none;
}