.MainLayout-header {
  display: none !important;
}

.Indicator-line {
  transform: translate(-20px, -1px) !important;
  width: calc(100% + 20px) !important;
  background: #fe9800 !important;
}

.Indicator-circle {
  border-radius: 12px !important;
  width: 42px !important;
  height: 18px !important;
  margin-left: -31px !important;
  background: #fe9800 !important;
  z-index: 2 !important;
}

.Label-text {
  font-family: "Inter" !important;
}

.Label-label:nth-of-type(even) .Label-text {
  color: #fff !important;
}

.Appointment-appointment {
  width: 97% !important;
}

.bottom_card_container {
  left: 0 !important;
}

.bottom_card {
  background: linear-gradient(
      180deg,
      rgba(255, 71, 71, 0) 0%,
      rgba(255, 71, 71, 0.1) 100%
    ),
    #fff;
}

.bottom_card:hover {
  background: linear-gradient(
      180deg,
      rgba(255, 71, 71, 0.05) 0%,
      rgba(255, 71, 71, 0.15) 100%
    ),
    #fff;
}

.bottom_card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 1.5px;
  background: linear-gradient(
    180deg,
    rgba(255, 71, 71, 0.15) 0%,
    rgba(255, 71, 71, 0.35) 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

:root {
  --currentTime: "";
}

.Indicator-circle:before {
  position: absolute;
  margin-top: 1px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  white-space: nowrap;
  margin-left: 5px;
  content: var(--currentTime) !important;
  color: #fff !important;
}
