.grid {
  border-radius: 12px;
  /* padding: 11px; */
  margin: 0;
  height: 100%;
  background-size: 11px 11px;
  background-image:
    linear-gradient(to right, #eee 1px, transparent 1px),
    linear-gradient(to bottom, #eee 1px, transparent 1px);
}