.KeyIndicators {
  display: flex;
width: 33.33%;
min-width: 521px;
min-height: 708px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;
}

.IndicatorCard {
  display: flex;
padding: 20px 24px 24px 24px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
border-radius: 12px;
aspect-ratio: 1/ 1;
}

.IndicatorsRow {
  display: flex;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
align-self: stretch;
}

.OcupancyRateCard {
  display: flex;
padding: 20px 24px 24px 24px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
border-radius: 12px;
}

.IconContainer {
  display: flex;
padding-top: 4px;
align-items: flex-start;
gap: 4px;
position: relative;
}

.IconControl {
  display: flex;
width: 44px;
height: 44px;
padding: 9.778px;
justify-content: center;
align-items: center;
border-radius: 100px;
background: var(--brand-snow, #FFF);
box-shadow: 12px 12px 20px 0px rgba(116, 229, 114, 0.10), 2px 2px 12px 0px rgba(0, 0, 0, 0.05);
}

.Icon {
  width: 24.444px;
height: 24.444px;
flex-shrink: 0;
}

.CardContent {
  display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
align-items: center;
}

.ContentValue {
  display: flex;
align-items: flex-start;
gap: 8px;
}

.ContentValueText {
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 57.6px */
letter-spacing: -1.92px;
}

.ContentLabel {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
width: 100%;
}

.ContentLabelText {
  color: var(--brand-charcoal, var(--brand-charcoal, #020202));
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 16.8px */
letter-spacing: -0.28px;
}

.CurrencyLabel {
  color: var(--brand-charcoal, var(--brand-charcoal, #020202));
font-feature-settings: 'sups' on;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 48px */
letter-spacing: -1.28px;
opacity: 0.35;
}

.CardLinkIcon {
  width: 20px;
height: 20px;
margin-left: auto;
opacity: 0.2;
}